<div id="gameDiv">
<h1>{{this.playerTurn}}'s Turn</h1>
<div class="d-flex flex-row mainDiv">
    <div class="d-flex flex-column rowDiv">
        <button #myButton (click)="handleButtonClick('0')" class="arrowButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>
        </button>
        <a #myButton (click)="handleButtonClick('0')">
        <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('0')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('0')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('0')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('0')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('0')">
        <div></div>
        </a>
    </div>
    <div class="d-flex flex-column rowDiv">
        <button #myButton (click)="handleButtonClick('1')" class="arrowButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>
        </button>
        <a #myButton (click)="handleButtonClick('1')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('1')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('1')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('1')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('1')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('1')">
            <div></div>
        </a>
    </div>
    <div class="d-flex flex-column rowDiv">
        <button #myButton (click)="handleButtonClick('2')" class="arrowButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>
        </button>
        <a #myButton (click)="handleButtonClick('2')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('2')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('2')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('2')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('2')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('2')">
            <div></div>
        </a>
    </div>
    <div class="d-flex flex-column rowDiv">
        <button #myButton (click)="handleButtonClick('3')" class="arrowButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>
        </button>
        <a #myButton (click)="handleButtonClick('3')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('3')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('3')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('3')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('3')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('3')">
            <div></div>
        </a>
    </div>
    <div class="d-flex flex-column rowDiv">
        <button #myButton (click)="handleButtonClick('4')" class="arrowButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>
        </button>
        <a #myButton (click)="handleButtonClick('4')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('4')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('4')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('4')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('4')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('4')">
            <div></div>
        </a>
    </div>
    <div class="d-flex flex-column rowDiv">
        <button #myButton (click)="handleButtonClick('5')" class="arrowButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>
        </button>
        <a #myButton (click)="handleButtonClick('5')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('5')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('5')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('5')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('5')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('5')">
            <div></div>
        </a>
    </div>
    <div class="d-flex flex-column rowDiv">
        <button #myButton (click)="handleButtonClick('6')" class="arrowButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>
        </button>
        <a #myButton (click)="handleButtonClick('6')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('6')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('6')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('6')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('6')">
            <div></div>
        </a>
        <a #myButton (click)="handleButtonClick('6')">
            <div></div>
        </a>
    </div>
</div>
<button (click)="resetGame()" class="btn btn-danger p-2 m-3 resetButton">Reset game</button>
</div>